# Application
NODE_ENV=production

## Puerto para pruebas en postman navegador
##PORT=[PORT]

## Puerto cerrado, solo para conexion y comunicacion de microservicios dentro de la misma red.
EXPOSE=[PORT]

# Database Configuration IP
## IP Privada - aws o cloud
#DB_HOST=[IP_PRIVADA]

## Ip Publica
##DB_HOST=[IP_PUBLICA]

## Conexión vía Socket Unix para Cloud Run
DB_HOST=[SOCKET_UNIX_ENDPOINT]

# --- Configuración BASE DE DATOS Postgres---
DB_PORT=5432
DB_USER=[DB_USER]
DB_PASSWORD=[DB_PASSWORD]
DB_NAME=[DB_NAME]
DB_SYNCHRONIZE=false
DB_LOGGING=false

# APY KEY simétrica para comunicación Service-to-Service - no estaba pedido en el ejercicio y lo agregue para proteger el acceso interno
INTERNAL_API_KEY=[INTERNAL_API_KEY]