# Application
NODE_ENV=development

## Puerto para pruebas en postman navegador
PORT=3000

# Database Configuration IP - statge development
DB_HOST=postgres-dev

# --- Configuración BASE DE DATOS Postgres---
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=Ja2EJ-jDi4yvC@DqJiQfmWLP
DB_NAME=orchestrator_db
DB_SYNCHRONIZE=false
DB_LOGGING=true

# APY KEY simétrica para comunicación Service-to-Service - no estaba pedido en el ejercicio y lo agregue para proteger el acceso interno
INTERNAL_API_KEY=bk_prod_eyU3OThhZjYtOTc1Yy00ZGZhLWI5NGUtYTZmNTM2NWRjZTU5fX0